<div class="container-xxl py-5 px-0 wow zoomIn" data-wow-delay="0.1s">
    <div class="row g-0">
        <div class="col-md-6 bg-dark d-flex align-items-center">
            <div class="p-5">
                <h6 class="section-title text-start text-white text-uppercase mb-3">MD Hotel</h6>
                <h1 class="text-white mb-4">Otelimizin təqdimat videosu</h1>
                <p class="text-white mb-4">Otelimiz ilə tanış olub ətraflı məlumatlar ədə edə bilərsiniz</p>
                <a href="" class="btn btn-primary py-md-3 px-md-5 me-3">Otaqlarımız</a>
                <a href="" class="btn btn-light py-md-3 px-md-5">Otaq rezerv et</a>
            </div>
        </div>
        <div style="height:25rem" class="col-md-6">
            <iframe style="height:25rem" width="677" src="https://www.youtube.com/embed/P9OYzyKqfPA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
</div>
