
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Murad Aliyev - HotelProject Admin Panel</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/AdminPanel/images/favicon.png">
    <!-- Custom Stylesheet -->
    <link href="~/AdminPanel/css/style.css" rel="stylesheet">

</head>

