<div class="nav-header">
    <div class="brand-logo">
        <a href="index.html">
            <b class="logo-abbr"><img src="~/AdminPanel/images/logo.png" alt=""> </b>
            <span class="logo-compact"><img src="~/AdminPanel/images/logo-compact.png" alt=""></span>
            <span class="brand-title">
                <img src="~/AdminPanel/images/Spiderman.png" style="height:2cm;width:auto" alt=""><span style="color:snow">MDNET-Developer</span>
            </span>
        </a>
    </div>
</div>