<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/Staff/Index/" aria-expanded="false">
                    <img style="height:1cm;width:auto" src="~/AdminPanel/icons/Staff.png" /><span class="nav-text">İşçilər</span>
                </a>
            </li>
            <li>
                <a href="/Staff/Index/" aria-expanded="false">
                    <img style="height:1cm;width:auto" src="~/AdminPanel/icons/references.png" /><span class="nav-text">Referanslar</span>
                </a>
            </li>
        </ul>
    </div>
</div>